.recharge-page {
  @apply min-h-screen;
  padding: 20px;
  background: var(--colors-gradientBubblegum);
}
.recharge-page-content {
  @apply mt-16 max-w-2xl mx-auto mb-16;
}
.recharge-form {
  @apply flex flex-col gap-4 p-4 border border-gray-300 shadow-md p-16;
  width: 520px;
  background: var(--colors-backgroundAlt);
  border-radius: var(--radii-card);
}
.recharge-form-title {
  @apply flex flex-col font-bold text-xl;
  color: var(--colors-text);
}
.recharge-form-title-desc {
  @apply text-xs text-gray-500 font-normal;
  color: var(--colors-textSubtle);
}
.recharge-form-allowance {
  @apply text-xs flex items-center justify-end gap-2 font-bold;
  color: var(--colors-textSubtle);
}

.recharge-form-item {
  @apply relative mt-2;
}

.recharge-form-item-label {
  @apply absolute left-4 top-[50%] font-bold;
  width: 100px;
  transform: translateY(-50%);
  z-index: 1;
}
.recharge-form-item-input {
  @apply border rounded-xl p-4 text-base font-bold text-right;
  height: 60px;
  width: 100%;
  background: var(--colors-input);
  padding-left: 120px;
}

.recharge-form-actions {
  @apply mx-auto mt-4;
}
