.nft-card {
  @apply relative w-64 h-40 bg-gray-100 rounded-lg shadow-md flex flex-col justify-center items-center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}
.card-number {
  @apply text-2xl font-bold;
}
.card-title {
  @apply text-lg mb-2;
}

.nft-card-mask {
  @apply absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center;
  background-color: var(--colors-text99);
  border-radius: 10px;
  .nft-card-id {
    @apply text-white text-lg;
  }
  .nft-card-status {
    @apply text-white text-lg;
  }
  .nft-card-redeem {
    @apply text-white text-lg cursor-pointer bg-blue-500 rounded-md px-4 py-2 mt-2;
  }
}
