$card-label-bg: rgba(40, 13, 95, 0.2);
.nft-card {
  @apply relative w-64 rounded-lg shadow-lg pb-4;
  background: var(--colors-input);
}
.nft-card-content {
  @apply relative w-full min-h-40 bg-gray-300 shadow-md flex flex-col justify-center items-center opacity-80 rounded-t-lg;
  color: #333;
}
.card-number {
  @apply text-2xl font-bold;
}
.card-title {
  @apply text-lg mb-2;
}
.nft-card-content-user {
  @apply w-64 fixed bg-white min-h-40 shadow-md flex flex-col items-center;
  top: -500px;
  left: -999px;
  .card-logo {
    @apply absolute top-2 left-2 w-10 h-10;
    border-radius: 50%;
  }
  .card-number {
    @apply font-normal;
    border-radius: 8px;
    color: #fff;
  }
  .card-title {
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 40px;
    color: #fff;
    margin: 20px 0 10px;
  }
  .card-date {
    @apply text-sm mt-2 absolute bottom-2 right-2;
    border-radius: 8px;
    color: #fff;
  }
}
