@import "./variable.scss";
@import "./animate.scss";
@import "./mixin.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
  background-color: var(--background-color);
  color: var(--colors-text);
  min-width: 1280px;
}

.x-icon {
  filter: hue-rotate(45deg) saturate(2);
  &:hover {
    filter: none;
  }
}

.min-section-height {
  min-height: var(--min-section-height);
}

.common-section {
  @extend .min-section-height;
  @apply px-4;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.common-btn {
  @apply border border-gray-300 rounded-xl p-2 text-xl mx-auto text-sm px-4 py-3 font-bold;
}

.btn-primary {
  @extend .common-btn;
  background-color: var(--colors-primary);
  color: var(--colors-invertedContrast);
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}

.btn-secondary {
  @extend .common-btn;
  background-color: var(--colors-textSubtle);
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  color: var(--colors-invertedContrast);
}
