@import "./animation.scss";
@import "./mixin.scss";
@import "../../public/iconfont/iconfont.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
  color: var(--foreground);
  min-width: 1280px;
}

.home-page {
  background: var(--colors-background) url('/images/bg-star.png') no-repeat center center;
  background-size: cover;
}

.x-icon {
  filter: hue-rotate(45deg) saturate(2);
  &:hover {
    filter: none;
  }
}

.min-section-height {
  min-height: var(--min-section-height);
}

.common-section {
  @extend .min-section-height;
  @apply px-4;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: 0 0% 100%; // Default background color of <body />...etc
    --foreground: 260 76% 21%;
    --card: 0 0% 100%; // Background color for <Card />
    --card-foreground: 260 76% 21%;
    --muted: 264 31% 94%;  // Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch />
    --muted-foreground: 252 26% 55%;
    --popover: 0 0% 100%;// TODO: // Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover />
    --popover-foreground: 240 10% 3.9%;
    --primary: 184 74% 48%;   // Primary colors for <Button />
    --primary-foreground: 0, 0%, 100%;
    --secondary: 260 60% 60%;  // Secondary colors for <Button />
    --secondary-foreground: 0 0% 98%;
    --accent: 0, 100%, 50%;  // Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0, 100%, 50%; //Used for destructive actions such as <Button variant="destructive">
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%; //Default border color
    --input: 264 31% 94%; // Border color for inputs such as <Input />, <Select />, <Textarea />
    --ring: 240 10% 3.9%;  // Used for focus ring
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; // Border radius for card, input and buttons

    // 自定义颜色
    --nav-height: 64px;
    --min-section-height: calc(100vh - var(--nav-height));
    --colors-background: #faf9fa;
    --colors-gradientBubblegum: linear-gradient(139.73deg,#e5fdff,#f3efff);
    --colors-textSubtle: #7a6eaa;
    --colors-gradientPrimary: linear-gradient(228.54deg,#1fc7d4 -13.69%,#7645d9 91.33%);
  }
  
  .dark {
    --background: 250 7% 16%;
    --foreground: 261 100% 97%;
    --card: 250 7% 16%;
    --card-foreground: 261 100% 97%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 184 74% 48%;
    --primary-foreground: 259 33% 11%; // 主要前景
    --secondary: 260 60% 70%; // 次要
    --secondary-foreground: 250 7.32% 16.08%; // 次要前景
    --muted: 260 20% 23%;
    --muted-foreground: 258 29% 75%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 260 20% 23%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    // 自定义颜色
    --colors-background: #08060b;
    --colors-gradientBubblegum: linear-gradient(139.73deg,#313d5c,#3d2a54);
    --colors-textSubtle: #b8add2;
    --colors-gradientPrimary: linear-gradient(228.54deg,#1fc7d4 -13.69%,#9a6aff 91.33%);
  }
}

.common-bg {
  background: var(--colors-background);
  background-size: cover;
}

.header-section-bg {
  background: rgba(245, 245, 245, 0.6) repeat center center;
  background-size: cover;
}
.dark .header-section-bg {
  background: rgba(0, 0, 0, 0.6) repeat center center;
  background-size: cover;
}


@layer base {
  * {
    // @apply border-border;
  }
  body {
    // @apply bg-background text-foreground;
  }
}

.common-page {
  @apply min-h-screen p-4;
  background: var(--colors-gradientBubblegum);
}


