.nfts-page {
  @apply px-4 py-8 min-h-screen;
  background-color: var(--colors-backgroundAlt);
}

.nft-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.nft-list-title {
  @apply text-2xl font-bold mb-4 mt-8;
}
