h3.desc-text {
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.4em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 500;
    color: #faebd7;
    z-index: 4;
  }
  .m-text:hover {
     color: hsl(var(--foreground));
    font-weight: 500;
    transform: scale(1.05);
  }
  
  .loader .m-text {
     color: hsl(var(--foreground));
    text-shadow: 0 0 0 var(--colors-textSubtle) ;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes loading {
    to {
      text-shadow: 20px 0 70px hsl(var(--foreground));
       color: hsl(var(--foreground));
    }
  }
  .loader {
    @for $i from 2 through 40 {
      span:nth-child(#{$i}) {
        -webkit-animation-delay: #{($i - 1) * 0.1}s;
      }
    }
  }
  