.main-nav {
  @apply sticky top-0 z-50 flex w-full items-center justify-between px-4 border-b border-gray-300; 
  background-color: var(--colors-backgroundAlt);
  color: var(--colors-text);
  height: var(--nav-height);
  border-bottom: 1px solid rgb(209 213 219 / var(--tw-border-opacity));
}