h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: var(--colors-text);
  transition: all 0.3s ease;
  z-index: 3;
  cursor: default;
}
h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: var(--colors-text);
}