.page-title {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: var(--colors-text);
  transition: all 0.3s ease;
  z-index: 3;
  cursor: default;
}
.page-title:hover {
  color: var(--colors-text);
  // transform: translate3d(0, -10px, 22px);
  // color: var(--colors-text);
}

.page-title::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-title::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--colors-light-gradientPrimary);
  z-index: -1;
  transition: transform .3s ease;
}