.header-section-container {
  @apply flex flex-col justify-between items-center box-border relative isolate;
  height: calc(100vh - var(--nav-height));
}
.page-title {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  white-space: nowrap;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: hsl(var(--foreground));
  transition: all 0.3s ease;
  z-index: 3;
  cursor: default;
}
.page-title:hover {
  color: hsl(var(--foreground));
  // transform: translate3d(0, -10px, 22px);
  // color: hsl(var(--foreground));
}

.page-title::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.page-title:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.page-title::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  inset: 0 0 0 0;
  background: var(--colors-gradientPrimary);
  z-index: -1;
  transition: transform 0.3s ease;
}
.living-words-container {
  overflow: hidden;
  max-height: 35vh;
}
